<% layout('baselayout') %>
<div class="authent">
	<form class="form-signin" action="/admin/login" method="POST">
		<% if (typeof msg != 'undefined'){ %>
			<div class="alert">
			  <button type="button" class="close" data-dismiss="alert">&times;</button>
			  <strong><%=msg%></strong>
			</div>
		<% } %>
		<h2 class="form-signin-heading">Identification</h2>
		<input name="login" type="text" class="input-block-level" placeholder="Email address">
		<input name="password" type="password" class="input-block-level" placeholder="Password">
		<button class="btn btn-large btn-primary" type="submit">S'identifier</button>
	</form>
</div>