<% layout('navlayout') %>
<h1><%- title -%></h1>
<span class="addBtn">
	<a href="/admin/conferences/edit"><button class="btn btn-large btn-primary" type="button">Créér une conférence</button></a>
</span>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nom de la conférence</th>
            <th>Speaker</th>
            <th>Stats</th>
            <th>Actions</th>
	    </tr>
    </thead>
    <tbody>
        <% for(var i=0; i<lives.length; i++) { %>
        <tr>
            <td>
                <% if(lives[i].metadata.current) { %>
                    <a href="/admin/conferences/<%- lives[i]._id -%>/changestatus/notcurrent">
                        <i class="icon-flag"></i></a><% } %>
                    </a>
                    <%- lives[i].title -%>
            </td>
            <td><%- lives[i].author.firstname -%> <%- lives[i].author.lastname -%></td>
            <td><%- lives[i].metadata.like -%><i class="icon-thumbs-up"></i> <%- lives[i].metadata.unlike -%><i class="icon-thumbs-down"></i></td>
            <td>
                <% if(! lives[i].metadata.current) { %><a href="/admin/conferences/<%- lives[i]._id -%>/changestatus/current"><i class="icon-flag"></i></a><% } %>
                <a href="/admin/conferences/<%- lives[i]._id -%>/queries"><i class="icon-envelope"></i></a>
                <a href="/admin/conferences/<%- lives[i]._id -%>/edit"><i class="icon-pencil"></i></a>
                <a href="/admin/conferences/<%- lives[i]._id -%>/delete"><i class="icon-trash"></i></a>
            </td>
        </tr>
        <% } %>
    </tbody>
</table>