<% layout ('navlayout') %>
<h1><%- title -%></h1>
<form class="form-horizontal" method="post" action="/admin/users/save">
    <input type="hidden" name="_id" value="<%- user._id -%>">
    <input type="hidden" name="salt" value="<%- user.salt -%>">
    <fieldset>
        <legend>Saisissez les informations de l'utilisateur.  Les champs marqués (*) sont obligatoires.</legend>

        <div class="control-group">
            <label class="control-label">email(*) </label>

            <div class="controls">
                <input type="text" placeholder="Adresse email" name="email" value="<%=user.email%>">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Mot de passe(*)</label>

            <div class="controls">
                <input type="password" placeholder="Mot de passe" name="password" value="">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
				<button class="btn" onClick="javascript:history.back()">Annuler</button>
                <button type="submit" class="btn btn-primary">Enregistrer</button>
            </div>
        </div>
    </fieldset>
</form>