<% layout ('navlayout') %>
<h1><%- title -%></h1>
<form class="form-horizontal" method="post" action="/admin/conferences/save">
    <input type="hidden" name="_id" value="<%- live._id -%>">
    <fieldset>
        <legend>Saisissez les informations de la conférence.  Les champs marqués (*) sont obligatoires.</legend>

        <div class="control-group">
            <label class="control-label">Titre de la conférence(*) </label>

            <div class="controls">
                <input type="text" placeholder="Titre de la conférence" name="title" value="<%- live.title -%>">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Prénom du conférencier(*)</label>

            <div class="controls">
                <input type="text" placeholder="Prénom du conférencier" name="author.firstname" value="<%- live.author.firstname -%>">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Nom du conférencier(*) </label>

            <div class="controls">
                <input type="text" placeholder="Nom du conférencier" name="author.lastname" value="<%- live.author.lastname -%>">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Métier du conférencier (*) </label>

            <div class="controls">
                <input type="text" placeholder="Métier du conférencier" name="author.work" value="<%- live.author.work -%>">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Biographie du conférencier(*) </label>

            <div class="controls">
                <textarea rows="3" name="author.biography"><%- live.author.biography -%></textarea>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Url storify(*)</label>

            <div class="controls">
                <input type="text" placeholder="Url storify" name="author.storify" value="<%- live.author.storify -%>">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Url de l'image du speaker(*)</label>

            <div class="controls">
                <input type="text" placeholder="Url vers l'image du speaker" name="author.thumb" value="<%- live.author.thumb -%>">
            </div>
        </div>


        <div class="control-group">
                <label class="control-label">Url live</label>

                <div class="controls">
                    <input type="text" placeholder="Url live vidéo" name="liveUrl" value="<%- live.liveUrl -%>">
                </div>
        </div>

        <div class="control-group">
            <label class="control-label">Url replay</label>

            <div class="controls">
                <input type="text" placeholder="Url replay" name="replayUrl" value="<%- live.replayUrl -%>">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
				<button class="btn" onClick="javascript:history.back()">Annuler</button>
                <button type="submit" class="btn btn-primary">Enregistrer</button>
            </div>
        </div>
    </fieldset>
</form>