<% layout('navlayout') %>
<h1><%- title -%></h1>
<h2><%- live.title -%></h2>

  <% if (live.questions.length > 0){ %>
  <ul>
    <% for (i=0 ; i < live.questions.length ; i++ ){ %>
        <li><%- live.questions[i] -%></li>
    <% } %>
  </ul>
 <% } else {%>
        <p>Aucune question pour cette conférence.</p>
  <% } %>