<% layout('navlayout') %>
<h1><%- title -%></h1>
<span class="addBtn">
	<a href="/admin/users/new"><button class="btn btn-large btn-primary" type="button">Créér un utilisateur</button></a>
</span>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Email</th>
            <th>Derni&egrave;re authentification</th>
            <th>Actions</th>
	    </tr>
    </thead>
    <tbody>
        <% for(var i=0; i<users.length; i++) { %>
        <tr>
            <th><%- users[i].email -%></th>
            <th><%- users[i].lastLogin -%>
            <th>
                <a href="/admin/users/<%- users[i]._id -%>/edit"><i class="icon-pencil"></i></a>
                <a href="/admin/users/<%- users[i]._id -%>/delete"><i class="icon-trash"></i></a>
            </th>
        </tr>
        <% } %>
    </tbody>
</table>