<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="http://www.tedxparisuniversites.com/" target="_blank">TedX</a>
        <ul class="nav">
            <li id="conferences"><a href="/admin/conferences">Les conférences</a></li>
            <li id="users"><a href="/admin/users">Les utilisateurs</a></li>
            <li id="logout"><a href="/admin/logout"><i class="icon-user"></i> Se déconnecter</a></li>
        </ul>
    </div>
</div>